<section class="section--product-detail">
  <div class="img-container">
    <img src="{{ product.productImgUrl }}" />
  </div>

  <div class="container container--product-detail">
    <div
      class="prouct-detail product-detail__vote-result"
      *ngIf="location && location === 'recommend_page'"
    >
      <img
        *ngIf="product.isVoted"
        src="../../../../assets/icon/ic_favorite_24px_purple.svg"
      />
      <img
        *ngIf="!product.isVoted"
        src="../../../../assets/icon/ic_favorite_border_24px_purple.svg"
      />
      <span>{{ product.votedNum }}</span>
    </div>

    <h1 class="product-detail product-detail__product-name">
      {{ product.productName }}
    </h1>

    <h2 class="product-detail product-detail__price">
      {{ product.productCurrency }} {{ product.productPrice }}
    </h2>

    <p class="product-detail product-detail__description">
      {{ product.productDetail }}
    </p>
  </div>
</section>
